[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RcmdrPlugin.KMggplot2"]
	path = RcmdrPlugin.KMggplot2
	url = https://github.com/nshi-stat/rcmdrplugin.kmggplot2
[submodule "mmcm"]
	path = mmcm
	url = https://github.com/nshi-stat/mmcm
[submodule "ph2bayes"]
	path = ph2bayes
	url = https://github.com/nshi-stat/ph2bayes
[submodule "pimeta"]
	path = pimeta
	url = https://github.com/nshi-stat/pimeta
